@charset 'utf-8';
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
	margin: 0;
	padding: 0;
}
html,
body,
a,
b,
p,
li,
img,
div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
a {
	text-decoration: none;
	outline: 0;
	-webkit-touch-callout: none;
}

img {
	border: 0;
}
button {
	border: 0 none;
	margin: 0;
	background: 0;
	outline: 0;
}
ul,
li {
	list-style: none;
}

input {
	outline: none;
}
input,
textarea {
	-webkit-appearance: none;
	border: none;
}
